.SubTodoListContainer{
  width: 90%;
  height: 100%;
  flex-direction: column;
}

.todoList{
  width: 100%;
}

.light{
  background-color: #F8FAFC;
}

.dark{
  background-color: #121212;
}

.titleContainer{
  font-size: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 4rem;
  font-weight: bold;
}

.titleContainer.light{
  color: #1E293B;
}

.titleContainer.dark{
  color: #E2E8F0;
}

.toggle-container {
  width: 40px;
  height: 20px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 4px;
  cursor: pointer;
  position: relative;
  transition: background 0.3s ease-in-out;
}

.toggle-container.light {
  background-color: #1E1E2E; /* Light mode background */
}

.toggle-container.dark { 
  background-color: #F8FAFC;/* Dark mode background */
}

.toggle-switch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  transition: background 0.3s ease-in-out;
}

.toggle-switch.light {
  background-color: #F8FAFC; /* Switch in light mode */
}

.toggle-switch.dark {
  background-color: #121212; /* Switch in dark mode */
}

.modeContainer{
  width: 100%;
  display: flex;
  justify-content: right;
}

.inputContainer{
  margin-top: 1rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.input{
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;
}

.input.light{
  background-color:  #E2E8F0;
  color: #1E293B;
}

.input.dark{
  background-color: #334155;
  color: #E2E8F0;
}

.input1.light{
  background-color:  #E2E8F0;
  color: #1E293B;
}

.input1.dark{
  background-color: #334155;
  color: #E2E8F0;
}

.button{
  height: 2rem;
  width: 5rem;
  font-size: 1.2rem;
  border-radius: 0.5rem;
  border: none;
  transition: all 0.3s ease;
  cursor: pointer;
}

.button:hover{
  background-color: #3B75D9;
  transform: scale(1.05);
  backdrop-filter: blur(10px);
  box-shadow: 0 0 10px rgba(59, 130, 246, 0.5);
}

.button.light{
  background-color: #2563EB;
  color: white;
}

.button.dark{
  background-color:  #4C89F1;
  color: #F1F5F9;
}

.categoryContainer{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 0.5rem;
  gap: 0.5rem;
}

.input1{
  width: 100%;
  height: 2rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.2rem;
}

.descriptionContainer{
  width: 100%;
  margin-top: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.description {
  cursor: pointer;
  transition: all 0.15s;
}

.description:hover{
  font-weight: 700;
}

.description.light{
  color: #1E293B;
}

.description.dark{
  color: #E2E8F0;
}

.inputDescription {
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
  font-size: 1.2rem;
}

.inputDescription.light{
  background-color:  #E2E8F0;
  color: #1E293B;
}

.inputDescription.dark{
  background-color: #334155;
  color: #E2E8F0;
}

input.dark::placeholder{
  color: #E2E8F0;
}

input.light::placeholder{
  color: #1e293b;
}

textarea.dark::placeholder{
  color: #E2E8F0;
}

textarea.light::placeholder{
  color: #1e293b;
}

.filterContainer{
  font-size: 0.8rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  margin-top: 1rem;
  border-top: solid gray 1px;
  padding-top: 1rem;
  justify-content: center;
}

.filterContainer.light{
  color: #1E293B;
}

.filterContainer.dark{
  color: #E2E8F0;
}

.filter{
  cursor: pointer;
}

.taskContainer{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.subTaskContainer {
  background-color: #2A3D44;
  border-radius: 0.5rem 0.5rem 0.5rem 0rem;
  display: flex;
  flex-direction: column;
  height: 3rem; /* Default height */
  position: relative;
  border-top: solid #F87171 4px;
}

.subTaskInput {
  width: 100%;
  height: 4rem;
  color: #94A3B8;
  border-radius: 0.25rem;
  resize: none;
  border: none;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.description2{
  margin: 0.5rem;
}

.description1{
  margin: 1rem 0rem 0 0.5rem;
  font-weight: bold;
}

.expandButton {
  background-color: #34D399;
  width: 8rem;
  padding: 0.1rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  color: #E2E8F0;
  border: none;
  cursor: pointer;
  position: absolute;
  bottom: -1.15rem;
}

.expandButton:hover {
  background-color: #2DCA81;
}

.checkBoxContainer{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
}

.subCheckBoxContainer{
  display: flex;
  flex-direction: row;
  height: 3rem;
  justify-content: center;
  align-items: center;
  width: 2rem;
}

.nameTaskContainer{
  height: 3rem;
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: #E2E8F0;
  max-width: 10rem;
  overflow: auto;
  flex-direction: column;
  
}

.data{
  font-size: 0.8rem;
  color: #94A3B8;
}

.nameContainer{
  display: flex;
  flex-direction: row;
}

/* Hide default checkbox */
input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #E2E8F0; /* Border for the checkbox */
  border-radius: 4px; /* Rounded corners */
  position: relative;
  cursor: pointer;
  background-color: #E2E8F0; /* Default background */
  transition: background-color 0.3s, border-color 0.3s;
}

/* When checked, change the background and border color */
input[type="checkbox"]:checked {
  background-color: #34D399; /* Color when checked */
  border-color: #34D399;
}

/* Adding a check mark (icon) inside the checkbox */
input[type="checkbox"]:checked::before {
  content: '\2713'; /* Unicode for a check mark */
  position: absolute;
  top: -3px;
  left: 2px;
  font-size: 16px;
  color: white; /* Check mark color */
}

.editContainer{
  height: 3rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.editButton{
  cursor: pointer;
}

/*tablet*/
@media only screen and (min-width: 600px) and (max-width: 1024px){
  .filterContainer{
    font-size: 1.2rem;
  }
}

/*laptop*/
@media only screen and (min-width: 1025px){
  .SubTodoListContainer{
    width: 40rem;
  }

  .filterContainer{
    font-size: 1.2rem;
  }

  .filter{
    cursor: pointer;
    transition: all 0.15s;
    width: 8rem;
    text-align: center;
  }
  
  .filter:hover{
    font-weight: bold;
    transform: scale(1.1);
  }
}