*{
  padding: 0;
  margin: 0;
}

body{
  overflow-x: hidden;
}

.todoListContainer{
  outline: red dashed 1px;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}